:root{
    --Moderateviolet: hsl(263, 55%, 52%);
    --Verydarkgrayishblue: hsl(217, 19%, 35%);
    --Verydarkblackishblue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(0, 0%, 81%);
    --Lightgrayishblue: hsl(210, 46%, 95%);
    --Fontsize: 13px;
}
body{
    background-color: rgb(236, 242, 248);
    padding: 0px;
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-size: 1rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 20px;
}

#box1, #box2, #box3, #box4, #box5 {
    padding: 20px; 
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    line-height: 1.5;
    position: relative; 
}

#box1 {
    grid-column: span 2;
    grid-row: span 1;
    background-color: var(--Moderateviolet);
}

#box2 {
    grid-column: span 1; 
    grid-row: span 1;
    background-color: var(--Verydarkgrayishblue);
}

#box3 {
    grid-column: span 1; 
    grid-row: span 1;
    background-color: var(--White);
}

#box4 {
    grid-column: span 2;
    grid-row: span 1;
    background-color: var(--Verydarkblackishblue);
}

#box5 {
    grid-column: span 1; 
    grid-row: span 2; 
    background-color: var(--White);
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-info header {
    display: flex;
    flex-direction: column;
    color: var(--Lightgray);
    font-weight: 900;
    font-size: larger;
}

.profile-info span {
    display: flex;
    flex-direction: column;
    color: var(--Lightgray);
    font-size: small;
}

#box1 .image {
    color: var(--White);
}

#box1 h2 {
    color: var(--White);
    font-size: 20px;
}

#box1 p {
    color: var(--Lightgray);
    font-size: 15px;
    margin: 0; 
    padding:0;
    word-wrap: break-word; 
}
#box2 h2 {
    color: var(--White);
    font-size: 20px;
}
#box2 p {
    color: var(--Lightgray);
    font-size: 15px;
    margin: 0; 
    padding:0;
    word-wrap: break-word; 
}
#box4 h2 {
    color: var(--White);
    font-size: 20px;
}
#box4 p {
    color: var(--Lightgray);
    font-size: 15px;
    margin: 0; 
    padding:0;
    word-wrap: break-word; 
}
.quotation{
    font-size: 2rem;
    color:  rgba(252, 248, 248, 0.534);
    position: absolute;
    top: 9%;
    left:80%;

    transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
    .box{
        display: grid;
        grid-template-rows: 1fr;
        gap:20px;
    }
    #container{
        display: flex;
        flex-flow: column nowrap;
        margin: 2.4rem auto;
    }
}